body{
     background-color: #55c5ea;
     background-image: url(bg-png);
     TEXT-ALIGN: center;
     font-family:Lucida Sans Unicode, Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;
     
}


.container {
    color:#FFFDFD;
    
}

h1{
    font-size: 40px;
}

h5{
    font-family: sans-serif;
    font-size: 13px;
}
    